<!DOCTYPE html>
<!--
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/html.html to edit this template
-->
<html xmlns:th="https://www.thymeleaf.org">
    <head>
        <title>TODO supply a title</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="estilos/style.css">
        <link rel="stylesheet" href="estilos/catalogoFPS.css">
        <link rel="stylesheet" href="estilos/media-principal.css"> <!--Resto dos dispositivos (Página Principal e Banner)-->
        <link rel="stylesheet" href="estilos/media-catalogo.css"> <!--Media Query da Pagína Catálogo-->
        <link rel="shortcut icon" href="favicon/favicon.ico" type="image/x-icon">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0" />
        <script src="script.js"></script>
        <title>Main Gaming Network</title>
    </head>
    <body>
         <header>
        <img src="imagens/logo.png" alt="Logotipo">
        <span id="burger" class="material-symbols-outlined" onclick="menu()">
            menu
            </span>
    </header>
    <menu id="itens">
        <ul>
            <li><a href="Menuindex" >Home</a></li>
            <li><a href="cadastro" >Cadastro</a></li>
            <li><a href="contato"  rel="next">Contato</a></li>
            <li><a href="catalogo"  rel="next">Catalogo</a></li>
        </ul>
    </menu>
    <h2 class="categoria">Selecione um Jogo FPS</h2>
    
    <section class="generos">
        <ul class="generos__lista">
            <li class="lista__itens">
                <h3>FPS</h3>
                <a href="catalogoFPS"><img src="imagens/FPS.png" class="lista__imagens" alt=""></a>
            </li>
            <li class="lista__itens">
                <h3>RPG</h3>
                <a href="#"><img src="imagens/RPG.png" class="lista__imagens" alt=""></a>
            </li>
            <li class="lista__itens">
                <h3>Plataforma</h3>
                <a href="#"><img src="imagens/Plataforma.png" class="lista__imagens" alt=""></a>
            </li>
        </ul>
    </section>

    <footer>
        <p>&copy; Todos os direitos reservados a <strong>Main Gaming Network</strong></p>
    </footer>
    </body>
</html>
