<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="estilos/style.css"> <!--Mobile First (Página Principal)-->
    <link rel="stylesheet" href="estilos/contato.css">
    <link rel="stylesheet" href="estilos/media-principal.css"> <!--Resto dos dispositivos (Página Principal e Banner)-->
    <link rel="shortcut icon" href="favicon/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0" />
    <script src="script.js"></script>
    <title>Main Gaming Network</title>
</head>
<body onresize="sizeChange()">
    <header>
        <img src="imagens/logo.png" alt="Logotipo">
        <span id="burger" class="material-symbols-outlined" onclick="menu()">
            menu
            </span>
    </header>
    <menu id="itens">
        <ul>
            <li><a href="Menuindex" >Home</a></li>
            <li><a href="login" >Cadastro</a></li>
            <li><a href="contato"  rel="next">Contato</a></li>
            <li><a href="catalogo"  rel="next">Catalogo</a></li>
        </ul>
    </menu> 

    <h2 class="titulo__contato">Contato</h2>
    <p class="texto__info">Insira aqui suas informações para entrar em contato conosco!</p>
    
    <section class="Estrutura">
        <form action="" method="post" class="formulario">
            <label for="iname" class="labelText">Nome:</label>
            <input class="formulario__textos"type="text" name="" id="iname">
            <label for="imail" class="labelText">E-Mail:</label>
            <input class="formulario__textos" type="email" name="" id="imail">
            <label for="itel" class="labelText">Telefone / Celular:</label>
            <input class="formulario__textos"type="tel" name="" id="itel">
            <label for="itxt" class="labelText">*Mensagem:</label>
            <textarea rows="6" style="width: 30em" id="itxt" class="formulario__textos"></textarea>
            <button class="formulario__botao" type="submit">Enviar</button>
        </form>
    </section>
</body>
</html>