<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="estilos/style.css"> <!--Mobile First (Página Principal)-->
    
    <link rel="stylesheet" href="estilos/Login.css">
    <link rel="stylesheet" href="estilos/media-principal.css"> <!--Resto dos dispositivos (Página Principal e Banner)-->
    <link rel="shortcut icon" href="favicon/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
    <script src="script.js"></script>
    <title>Main Gaming Network</title>
</head>
<body onresize="sizeChange()">
    <header>
        <img class="logo" src="imagens/logo.png" alt="Logotipo">
        <span id="burger" class="material-symbols-outlined" onclick="menu()">
            menu
        </span>
    </header>
    <menu id="itens">
        <ul>
            <li><a href="Menuindex" >Home</a></li>
            <li><a href="cadastro" >Cadastro</a></li>
            <li><a href="Login" >Entrar</a></li>
            <li><a href="contato"  rel="next">Contato</a></li>
            <li><a href="catalogo"  rel="next">Catalogo</a></li>
        </ul>
    </menu>
    <h2 class="titulo__Login">Login</h2>
    
    <form action="Login" class="formularioLogin"  method="post" >
                    <h1 id="UserMensage" th:text="${mensagemLogin}"></h1>
                    
                    
                    <label for="InputNick" class="label">Nickname:</label>
                    <input type="text" placeholder="Your Nickname" id="InputNick" name="InputNick" class="CadastroInput" required>
                    <br>
                    
                    <label for="InputSenha" class="label">Senha:</label>
                    <input type="password" id="InputSenha" placeholder=" Password" class="CadastroInput" name="InputSenha" required>
                    <br>
                    
                    
                <button type="submit" id="BTEnviar" >Entrar</button>
            </form>
    <footer>
        <p>&copy; Todos os direitos reservados a <strong>Main Gaming Network</strong></p>
    </footer>
</body>
</html>